<div class="row justify-content-center">
  <div class="col-10">

    <%= render 'shared/errors', obj: @author %>
    
    <%= form_with(model: @author, class: "shadow p-3 mb-3 bg-info rounded") do |form| %>
      

      <div class="form-group row">
        <%= form.label :authorname, class: "col-2 col-form-label text-light" %> 
        <div class="col-10">
          <%= form.text_field :authorname, class: "form-control shadow rounded", placeholder: "Author name" %>
        </div>
      </div>

      <div class="form-group row">
        <%= form.label :email, class: "col-2 col-form-label text-light" %> 
        <div class="col-10">
          <%= form.email_field :email, class: "form-control shadow rounded", placeholder: "email" %>
        </div>
      </div>

      <div class="form-group row">
        <%= form.label :password, class: "col-2 col-form-label text-light" %> 
        <div class="col-10">
          <%= form.password_field :password, class: "form-control shadow rounded", placeholder: "password" %>
        </div>
      </div>

      <div class="form-group row justify-content-center">
        <%= form.submit(@author.new_record? ? "Sign Up" : "Update account", class: "btn btn-outline-light btn-lg") %>
      </div>
    <% end %>
  </div> 
</div>
